$green: rgb(81, 90, 71);
$light: rgb(216, 211, 202);
$red: rgb(64, 4, 6);
$yellowlight: rgb(202, 195, 165);
$dark: rgb(41, 46, 36);
$defaultMargin: 1rem;

$theme-colors: (
  "primary": $green,
  "secondary": $light,
  "danger": $red,
  "light": $yellowlight,
  "dark": $dark,
);

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/6000154/pexels-photo-6000154.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  padding-top: 10rem;
  height: 20rem;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
header h1 {
  color: $light;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 0;
}

form {
  margin: $defaultMargin 0;
}

.card {
  height: 30rem;
  line-height: 1.5rem;
  margin-bottom: $defaultMargin;
}

.card-img,
.card-img-top {
  height: 10rem;
  object-fit: cover;
}

.mb-2.text-muted.date.card-subtitle.h6 {
  font-weight: 300;
  color: $green;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

@import "~bootstrap/scss/bootstrap";
